@baseBg: #ececec;
@baseTxt: #3f3739;
@hoverColor: #5fd8dd;
body{
  background-color: @baseBg;
  color: @baseTxt;
    background-image: url("img/001.jpg");
    background-size: 1920px, 1080px;
}
a{
  color: @baseTxt;
  text-decoration: none;
}

h1{
font-family: 'Cookie', cursive;
font-size: 72px;
  text-align: center;
  color: #C95098;
}

p{
  font-family: 'Patua One', cursive;;
  font-size: 50px;
  text-align: center;
  color: #F94E4E;
margin-top: 10px;
padding-bottom: 10px;
}
.slideshow{
  position: relative;
  width: 600px;
  height: 600px;
  margin: 20px auto 0px auto;
  text-align: center;
  position-left:300px; 

}
.slide{
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  border: 4px solid #fff;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}


.overlay-shadow{
  box-shadow: inset 0px 0px 10px #000;
  opacity: 0.6;
}
.overlay-highlight{
  background: -webkit-radial-gradient(30% 30%, closest-corner, #fff, #2F2727);
  background: -moz-radial-gradient(30% 30%, closest-corner, #fff, #2F2727);
  background: -ms-radial-gradient(30% 30%, closest-corner, #fff, #2F2727);
  opacity: 0.4;
}
.active{
  opacity: 1;
}

.slide img.horizontal{
  max-height: 100%;
  width: auto;
}
.slide img.vertical{
  max-width: 100%;
  height: auto;
}
.slideshow-nav{
  width: 500px;
  margin: -175px auto 0 auto;
  padding: 10px;
  text-align: center;
  overflow: auto;
}
.nav-link{
  transition: color 0.25s linear;
  padding: 0px 5px;
}
.nav-link:hover{
  color: #222;
}
.nav-link em{

}
.previous{
  float: left;
}

.next{
  float: right;
}
